In [ ]:
import pyrebaselite
import requests
import time
from datetime import datetime, timedelta

Connect to Firebase

In [157]:
names_list = ['Anabela', 'claudia']
firebaseConfig = {
    "apiKey": "AIzaSyCzXZAZbaY4ChVbmHZFSOw3k7UDc3j3Y9g",
    "authDomain": "drivesafe-384814.firebaseapp.com",
    "databaseURL": "https://drivesafe-384814-default-rtdb.europe-west1.firebasedatabase.app/",
    "projectId": "drivesafe-384814",
    "storageBucket": "drivesafe-384814.appspot.com",
    "messagingSenderId": "1038829971338",
    "appId": "1:1038829971338:web:391d410c24e770ac3e4a73",
    "measurementId": "G-9NGM001EKF"
}

# Initialize Firebase
firebase = pyrebaselite.initialize_app(firebaseConfig)
db = firebase.database()

In [158]:
def read_data_from_firebase():
    data = []
    for i in range(len(names_list)):
        name = names_list[i]
        d = db.child(name).get().val()
        data.append(d)
        #print(d)
    return data
db_dict_names=read_data_from_firebase()

In [159]:

def print_data_counts(data):
    # Print the number of data points for each name
    for i,d in enumerate(data):
        print(i)
        for j, doc in d.items():
            print(names_list[i],j,'|', doc)

In [160]:
print_data_counts(db_dict_names)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

# Seperate by trips

In [161]:
def separate_by_trips(data, time_threshold_minutes=15):
    # Convert time threshold from minutes to timedelta
    time_threshold = timedelta(minutes=time_threshold_minutes)

    # Sort the data points by date
    sorted_points = sorted(data.values(), key=lambda x: x['date'])

    # Initialize the list of trips
    trips = []
    current_trip = []

    # Iterate over the sorted data points
    for i, point in enumerate(sorted_points):
        # If this is the first point, add it to the current trip
        if i == 0:
            current_trip.append(point)
        else:
            # Calculate the time difference between this point and the previous one
            time_diff = datetime.strptime(point['date'], '%Y-%m-%d %H:%M:%S') - datetime.strptime(sorted_points[i-1]['date'], '%Y-%m-%d %H:%M:%S')

            # If the time difference is greater than the threshold, start a new trip
            if time_diff > time_threshold:
                trips.append(current_trip)
                current_trip = []

            # Add this point to the current trip
            current_trip.append(point)

    # Add the last trip to the list
    trips.append(current_trip)

    return trips

In [162]:
def print_trips(trips):
    # Print the start and end date of each trip
    for i, trip in enumerate(trips):
        start_date = datetime.strptime(trip[0]['date'], '%Y-%m-%d %H:%M:%S')
        end_date = datetime.strptime(trip[-1]['date'], '%Y-%m-%d %H:%M:%S')
        num_items = len(trip)
        print(f"Trip {i+1}: Start Date = {start_date}, End Date = {end_date}, Number of Items = {num_items}")

In [163]:
def get_trips_for_all_names(data, time_threshold_minutes=15):
    # Create an empty dictionary to store the trips for each name
    all_trips = {}
    for i in range(len(names_list)):
        name = names_list[i]
        name_data = data[i]
        trips = separate_by_trips(name_data, time_threshold_minutes)
        all_trips[name] = trips
    return all_trips

In [164]:
def print_trips_for_all_names(data, time_threshold_minutes=15):
    # Iterate over the names and their trips
    for name, trips in data.items():
        # Print the name
        print(f"{name}:")

        # Print the trips for this name
        print_trips(trips)

        # Print a blank line for formatting
        print()

In [165]:
name_trip_dict=get_trips_for_all_names(db_dict_names)
print_trips_for_all_names(name_trip_dict)

Anabela:
Trip 1: Start Date = 2023-04-29 16:17:20, End Date = 2023-04-29 16:23:38, Number of Items = 57
Trip 2: Start Date = 2023-04-29 17:21:36, End Date = 2023-04-29 17:27:27, Number of Items = 134
Trip 3: Start Date = 2023-04-29 19:18:29, End Date = 2023-04-29 19:28:08, Number of Items = 266
Trip 4: Start Date = 2023-04-29 22:52:51, End Date = 2023-04-29 23:09:54, Number of Items = 531
Trip 5: Start Date = 2023-05-03 18:51:28, End Date = 2023-05-03 19:01:26, Number of Items = 178
Trip 6: Start Date = 2023-05-03 20:36:11, End Date = 2023-05-03 20:42:13, Number of Items = 98
Trip 7: Start Date = 2023-05-04 16:52:50, End Date = 2023-05-04 16:58:55, Number of Items = 136
Trip 8: Start Date = 2023-05-06 23:41:44, End Date = 2023-05-06 23:47:18, Number of Items = 214
Trip 9: Start Date = 2023-05-07 19:48:29, End Date = 2023-05-07 20:10:58, Number of Items = 1152

claudia:
Trip 1: Start Date = 2023-04-30 15:56:12, End Date = 2023-04-30 16:08:15, Number of Items = 659
Trip 2: Start Date = 2023-05-02 08:23:24, End Date = 2023-05-02 08:57:09, Number of Items = 1680
Trip 3: Start Date = 2023-05-02 11:48:20, End Date = 2023-05-02 12:17:17, Number of Items = 1712
Trip 4: Start Date = 2023-05-02 17:17:09, End Date = 2023-05-02 17:26:47, Number of Items = 533
Trip 5: Start Date = 2023-05-04 09:38:01, End Date = 2023-05-04 10:14:43, Number of Items = 1930
Trip 6: Start Date = 2023-05-04 17:16:19, End Date = 2023-05-04 17:31:03, Number of Items = 792
Trip 7: Start Date = 2023-05-04 19:04:25, End Date = 2023-05-04 19:19:22, Number of Items = 783
Trip 8: Start Date = 2023-05-05 07:21:28, End Date = 2023-05-05 08:08:04, Number of Items = 2472
Trip 9: Start Date = 2023-05-05 11:34:01, End Date = 2023-05-05 12:07:43, Number of Items = 1927
Trip 10: Start Date = 2023-05-05 16:31:37, End Date = 2023-05-05 16:43:58, Number of Items = 567
Trip 11: Start Date = 2023-05-06 15:31:02, End Date = 2023-05-06 16:05:43, Number of Items = 1893
Trip 12: Start Date = 2023-05-06 19:42:46, End Date = 2023-05-06 20:05:22, Number of Items = 1294
Trip 13: Start Date = 2023-05-06 21:17:41, End Date = 2023-05-06 21:52:19, Number of Items = 1858

In [ ]:
def print_data_of_specific_trip(name, trip_number, data):
    # Get the data for the specified name
    name_data = data[name]

    # Get the specified trip
    trip = name_data[trip_number-1]

    # Print the data for the trip
    for point in trip:
        print(point)
print_data_of_specific_trip(names_list[0], 1, name_trip_dict)

# Clean data

In [154]:
def clean_data(data):
    # Create an empty list to store the cleaned data
    datat = []

    # Iterate over the data points
    # Print the number of data points for each name
    for i,d in enumerate(data):
        print(i)
        for j, doc in d.items():
            # Extract the required features
            name = names_list[i]
            code = j
            date = doc['date']
            speed = doc['speed']
            lat = doc['lat']
            lang = doc['lang']
            speed_limit = None
            road_use = None

            if 'speedLimit' in doc:
                # Convert speedLimit to a numerical value
                #speed_limit = float(doc['speedLimit'][:-3])
                speed_limit = doc['speedLimit']
            if 'roadUse' in doc:
                # Extract roadUse value(s)
                road_use = doc['roadUse']

            # Append the values to the datat list
            datat.append([name, code,date, speed, lat, lang, speed_limit, road_use])

    return datat

In [156]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, LabelEncoder

data = clean_data(db_dict_names)
print(data[0])
# create a DataFrame from the sensor data
df = pd.DataFrame(data)

# add column names to the DataFrame
df.columns = ['name', 'code', 'date', 'speed', 'lat', 'lang', 'speedLimit', 'roadUse']

df['date'] = pd.to_datetime(df['date'])
df['hour'] = df['date'].dt.hour
df['speedLimit'] = df['speedLimit'].str.rstrip('KPH').astype(float)
df['is_speeding'] = (df['speed'] > df['speedLimit']).astype(int)
df['speed_diff'] = df['speed'].diff()

df.head()

0
1
['Anabela', '-NUCaC3Wb7tb2B7Zpi-r', '2023-04-29 16:17:20', 8.96399974822998, 41.50809866, -8.56521881, '50.00KPH', ['LocalStreet']]

,name,code,date,speed,lat,lang,speedLimit,roadUse,hour,is_speeding,speed_diff
0,Anabela,-NUCaC3Wb7tb2B7Zpi-r,2023-04-29 16:17:20,8.964,41.508099,-8.565219,50.0,[LocalStreet],16,0,NaN
1,Anabela,-NUCaC3b9DdCz3XB2fj_,2023-04-29 16:17:36,3.744,41.508143,-8.565391,50.0,[LocalStreet],16,0,-5.220
2,Anabela,-NUCaC3b9DdCz3XB2fja,2023-04-29 16:18:30,3.564,41.508132,-8.565512,50.0,[LocalStreet],16,0,-0.180
3,Anabela,-NUCaC3b9DdCz3XB2fjb,2023-04-29 16:18:38,3.708,41.508110,-8.565636,50.0,[LocalStreet],16,0,0.144
4,Anabela,-NUCbC94ZzS2ADud3dKB,2023-04-29 16:19:28,12.924,41.508039,-8.565721,50.0,[LocalStreet],16,0,9.216

In [143]:
# Drop rows where column 'A' has null values
df = df.dropna(subset=['speedLimit', 'roadUse'])
#Verificar valores nulos
df.isnull().sum()

name          0
code          0
date          0
speed         0
lat           0
lang          0
speedLimit    0
roadUse       0
dtype: int64

In [144]:
df.count()

name          8913
code          8913
date          8913
speed         8913
lat           8913
lang          8913
speedLimit    8913
roadUse       8913
dtype: int64

In [145]:
df['roadUse'] = df['roadUse'].apply(lambda x: x[0])

In [146]:
df['roadUse'].value_counts()

Arterial               6592
LocalStreet            2294
Publicly Accessible      24
Slip-Road                 3
Name: roadUse, dtype: int64